
wp/wp-content/uploads/*

wp/wp-content/\.DS_Store
**/.DS_Store
mockup_db\.dump

uploads\.zip

export_local\.sh
import_local\.sh
wp/wp-content/themes/lahma_maker/assets/playerfiles/node_modules/

wp/nginx-conf/nginx.conf

wp/.env
