<html><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Lahmacun radio</title>

<!--<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/production/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/production/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/production/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/production/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/production/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/production/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/production/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/production/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/production/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/icons/production/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/production/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/icons/production/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/production/favicon-16x16.png">-->
<link rel="icon" type="image/png" sizes="16x16" href="/lahmacun.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<!-- <meta name="msapplication-TileImage" content="/static/icons/production/ms-icon-144x144.png">-->
<meta name="theme-color" content="#2196F3">

<link rel="stylesheet" type="text/css" href="/static/dist/light-9b3ba4f3d0.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" crossorigin="anonymous" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js" crossorigin="anonymous" integrity="sha256-1Q2q5hg2YXp9fYlM++sIEXOcUb8BRSDUsQ1zXvLBqmA="></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js" crossorigin="anonymous" integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA="></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8="></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js" crossorigin="anonymous" integrity="sha256-ICvFZLf7gslwfpvdxzQ8w8oZt0brzoFr8v2dXBecuLY=" defer=""></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js" crossorigin="anonymous" integrity="sha256-LlN0a0J3hMkDLO1mhcMwy+GIMbIRV7kvKHx4oCxNoxI=" defer=""></script>
<script type="text/javascript" src="/static/dist/app-9dbd46ed17.js"></script>
<script type="text/javascript" src="/static/dist/material-a93414a265.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js" crossorigin="anonymous" integrity="sha256-0jgHNEQo7sIScbcI/Pc5GYJ+VosKM1mJ+fI0iuQ1a9E=" defer=""></script>
<script type="text/javascript" src="/static/dist/radio-bf97216194.js" defer=""></script>

<link rel="stylesheet" type="text/css" href="lahmacun-player.css">

</head>

<body class="page-minimal embed station-lahmacun">

<script type="text/javascript" nonce="7PxQhoLJyuIUoRpNQ3VM4+BV">

var nowPlaying;

function iterateTimer() {
    var np_elapsed = nowPlaying.np.now_playing.elapsed;
    var np_total = nowPlaying.np.now_playing.duration;

    if (np_elapsed < np_total) {
        nowPlaying.np.now_playing.elapsed = np_elapsed + 1;
    }
}

function formatTime(time) {
    var sec_num = parseInt(time, 10);

    var hours = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (hours < 10) {
        hours = "0" + hours;
    }
    if (minutes < 10) {
        minutes = "0" + minutes;
    }
    if (seconds < 10) {
        seconds = "0" + seconds;
    }
    return (hours !== "00" ? hours + ':' : "") + minutes + ':' + seconds;
}

$(function() {
    nowPlaying = new Vue({
        el: '#station-nowplaying',
        data: {"np":{"now_playing":{"song":{"title":"Song Title","artist":"Song Artist","art":"\/static\/img\/generic_song.jpg"},"is_request":false,"elapsed":0,"duration":0}}},
        computed: {
            "time_display": function() {
                var time_played = this.np.now_playing.elapsed;
                var time_total = this.np.now_playing.duration;

                if (!time_total) {
                    return null;
                }

                if (time_played > time_total) {
                    time_played = time_total;
                }
                if (this.np.now_playing.song.title == "No show no show"){
                  return "OFF AIR"
                } else {
                  return formatTime(time_played) + ' / ' + formatTime(time_total);
                }
            }
        }
    });

    setInterval(iterateTimer, 1000);
});
</script>

<script type="text/javascript" nonce="7PxQhoLJyuIUoRpNQ3VM4+BV">
$(function() {
    function loadNowPlaying() {
        $.getJSON('https://www.lahmacun.hu:8083/api/nowplaying/1', function(row) {
            nowPlaying.np = row;

            if ('mediaSession' in navigator) {
                navigator.mediaSession.metadata = new MediaMetadata({
                    title: row.now_playing.song.title,
                    artist: row.now_playing.song.artist,
                    artwork: [
                        { src: row.now_playing.song.art }
                    ]
                });
            }

            setTimeout(loadNowPlaying, 15000);
        }).fail(function() {
            setTimeout(loadNowPlaying, 30000);
        });
    }

    loadNowPlaying();
});
</script>


<div class="stations nowplaying">
<div class="player-wrap topwrap">
    <div id="station-nowplaying" class="media media-left">
		<div class="pull-left pr-2 pt-3">
			<a role="button" title="Play/Pause" href="#" data-url="https://www.lahmacun.hu:8083/radio/8000/radio.mp3" class="btn-audio"><i class="material-icons lg">play_circle_filled</i></a>
		</div>
	    <div class="pull-left pr-2" v-if="np.now_playing.song.art">
        <a v-bind:href="np.now_playing.song.art" data-fancybox target="_blank"><img v-bind:src="np.now_playing.song.art" alt="Album Cover" style="width: 50px; height: auto; border-radius: 5px;"></a>
    </div>
    <div class="media-body">
        <h4 class="media-heading might-overflow nowplaying-title">
            {{ np.now_playing.song.title }}
        </h4>
        <div class="nowplaying-artist might-overflow">
            {{ np.now_playing.song.artist }}
        </div>
        <div class="nowplaying-progress" v-if="time_display">
            {{ time_display }}
        </div>
    </div>
</div>
</div>

<div class="player-wrap bottomwrap">
	<div class="volumesign low">
		<i class="material-icons">volume_mute</i>
	</div>
		 <div class="progress jp-volume-bar d-inline-block" style="width: 290px;">
			 <div class="jp-volume-bar-value progress-bar" role="progressbar"></div>
		 </div>
	<div class="volumesign high">
		<i class="material-icons">volume_up</i>
	</div>


<!--
        <div class="float-left text-left flex-row" id="radio-player-controls">

             <a href="javascript:;" class="jp-mute" title="Mute">
                 <i class="material-icons">volume_off</i>
             </a>
             <a href="javascript:;" class="jp-unmute" title="Unmute">
                 <i class="material-icons">volume_up</i>
             </a>

         </div>
-->

    <!--<div id="radio-embedded-controls" class="jp-state-playing">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
		<div class="progress jp-volume-bar" style="height: 15px; " title="Volume">
			<div class="jp-volume-bar-value progress-bar" role="progressbar" style="width: 84%;">

			</div>
		</div>-->
</div>

<div class="player-wrap creditswrap">
<a href="schedule.pdf" target="_blank">Schedule</a> | <a href="lahmacun.m3u" target="_blank">Stream</a> | <a href="mailto:lahmacun@mmmnmnm.com" target="_blank">Contact</a>
</div>


</div>




</body>


</html>
