body{
    background-image: url("lahmacun.png") !important;
    background-repeat: repeat !important;
    background-size: initial !important;
}

a:hover, a:focus, a.text-secondary:active, a.text-secondary:focus, a.text-secondary:hover {
   color: #6b337c !important;
}

a{
    color: #9a9a9a !important;
}


@media (max-width: 575.98px) {
body.page-minimal .public-page .card {
  width: calc(80%);
  left: 0 !important;
}

#radio-player-controls.radio-controls-standalone.jp-state-playing {
  display: none;
}

body.page-minimal .might-overflow{
  width: calc(90%) !important;
}

}

 /* volume control styles*/
 /* mute and unmute buttons */
.text-secondary {
color: #9a9a9a !important;
}

.radio-controls-standalone a:hover {
color: #6b337c!important;
}

/* volume control cursos */
/* these ones work for Safari and Chrome  */
.custom-range::-webkit-slider-thumb {
  transition-duration: .3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f5f5f5;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  height: 19px;
  margin-top: -7px;
  width: 19px;
}

.custom-range:focus::-webkit-slider-thumb {
    border: 1px solid grey;
    box-shadow: none;
    background: #e6e6e6;
}

.custom-range::-webkit-slider-thumb:active {
  box-shadow: none;
}

.custom-range::-webkit-slider-runnable-track {
  border-radius: 2px;
  height: 5px;
}


/* these ones work for Mozilla */
.custom-range::-moz-range-thumb {
  transition-duration: .3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f5f5f5;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  height: 19px;
  margin-top: -7px;
  width: 19px;
}

.custom-range::-moz-range-progress {
  background-color: #9a9a9a;
}

.custom-range:focus::-moz-range-thumb {
    border: 1px solid grey;
    box-shadow: none;
    background: #e6e6e6;
}

.custom-range::-moz-range-thumb:active {
  box-shadow: none;
}

.custom-range::-moz-range-runnable-track {
  border-radius: 2px;
  height: 5px;
}



/* Links: schedule, stream, contact */

.player-wrap a{
  color: #6b337c !important
}

.player-wrap a:hover {
  color: #9a9a9a !important;
  text-decoration: none;
}

.player-wrap {
    display: block;
    width: 100%;
    clear: both;
}

.player-wrap.bottomwrap {
	margin-top: 0.7em;
}

.player-wrap.creditswrap {
    margin: 0 0.5em 0.8em;
    text-align: center;
    width: auto;
}


/* Gaspar global */

html.ismobile .volumecontrolos {
	display: none !important;
}

html.ismobile body.page-minimal .public-page .card {
    height: 120px;
}

body.page-minimal .public-page .card {
    width: 400px;
	height: 140px;
	min-width: 400px;
}

body.page-minimal .public-page .card .card-body {
    padding-bottom: 0.5em;
}

body.page-minimal h4.might-overflow {
    white-space: normal;
    line-height: 1.2em;
}

body.page-minimal h4.might-overflow:hover {
    word-break: normal;
}

.altalanosinfok, .volumecontrolos {
	display: block;
	float: none !important;
}

.altalanosinfok {
    padding-bottom: 0.5em;
}

#radio-player-controls.radio-controls-standalone {
    display: inline-block;
    width: 100%;
    margin-top: 0.5em;
	height: 20px;
}

#radio-player-controls.radio-controls-standalone input.jp-volume-range {
    width: 300px;
    height: 10px;
}

#radio-player-controls.radio-controls-standalone input.jp-volume-range:focus {

}

#radio-player-controls.radio-controls-standalone a.jp-volume-full {
    margin-left: 5px;
}

.player-wrap.creditswrap a:hover {
    color: #212121 !important;
}

#station-nowplaying .pr-2 {
    padding-right: 0.8rem!important;
}

footer#footer {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-shadow: none;
    color: white;
}

footer#footer a {
    font-weight: bold;
    color: white !important;
}

@media (max-width: 460px) {

body.page-minimal .public-page .card {  zoom: 0.8;   width: 100vW; }

}
