body{
    background-image: url("lahmacun.png") !important;
    background-repeat: repeat !important;
    background-size: initial !important;
}

a:hover {
   color: #6b337c !important;
}

a{
    color: #c7c7c7 !important;
}

@media (max-width: 575.98px) {
body.page-minimal .public-page .card {
  width: calc(80%);
  left: 0 !important;
}

#radio-player-controls.radio-controls-standalone.jp-state-playing {
  display: none;
}

body.page-minimal .might-overflow{
  width: calc(70%) !important;
}

}

 /* volume control styles*/
 /* mute and unmute buttons */
.text-secondary {
color: #c7c7c7!important;
}

.radio-controls-standalone a:hover {
color: #6b337c!important;
}

/* volume control cursos */
/* these ones work for Safari and Chrome  */
.custom-range::-webkit-slider-thumb {
  transition-duration: .3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7c7c7;
  border: 0;
  border-radius: 50%;
  height: .75rem;
  margin-top: -.3125rem;
  width: .75rem
}

.custom-range::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 .375rem #6b337c
}


/* these ones work for Mozilla */
.custom-range::-moz-range-thumb {
  transition-duration: .3s;
  transition-property: box-shadow, height, width;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7c7c7;
  border: 0;
  border-radius: 50%;
  height: .75rem;
  width: .75rem
}

.custom-range::-moz-range-progress {
  background-color: #c7c7c7
}

.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 .75rem rgba(107, 51, 124, .12)
}

/* Links: schedule, stream, contact */

.player-wrap a{
  color: #6b337c !important
}

.player-wrap a:hover {
  color: #c7c7c7 !important;
  text-decoration: none;
}

.player-wrap {
    display: block;
    width: 100%;
    clear: both;
}

.player-wrap.bottomwrap {
	margin-top: 0.7em;
}

.player-wrap.creditswrap {
    margin-top: 0.7em;
    text-align: center;
}
